.idea/
.xml
.iws

# Vorlesungsordner
01_Lesson_WebCrawling/
02_Lesson_TextPreprocessing/
03_Lesson_TextTransformationExploration/
04_Lesson_Dashboarding/
05_Lesson_AssociationAnalysis/
06_Lesson_NamedEntityRecognition/
data/

# alte Jupyter Notebook Datei
04_DS_Project_Scraper_Selenium.ipynb

# Environments
../venv/
.env
.venv