.idea/
.xml
.iws

# Vorlesungsordner
01_Lesson_Web-Crawling_Parsing_BeautifulSoup/
02_Lesson_Text_Preprocessing_NLTK/
03_Lesson_Text_Transformation_Exploration/
04_Lesson_Dashboarding/

# alte Jupyter Notebook Datei
04_DS_Project_Scraper_Selenium.ipynb

# Environments
../venv/
.env
.venv